<div class="main-wrap">
  <h1>Articles</h1>

  <% @articles.each do |a| %>
    <div class="art-wrap">
      <%= link_to a.title, article_path(a) %><br><br>  
    </div>
  <% end %>

  <% if logged_in? %>
    <div class="btn">  
      <%= link_to "Create New Article", new_article_path %>
    </div>
  <% end %>
</div>