<h1>Articles tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |a| %>
    <li><%= link_to a.title, article_path(a) %></li>
  <% end %>
</ul>

<% if logged_in? %>
  <%= link_to "Delete tag", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag from all articles?"} %>
<% end %>